FuncionalTests/obj/*
FooApiHost/obj/Debug/*
.vs/Testing/v15/Server/sqlite3/storage.ide
.vs/Testing/v15/Server/sqlite3/db.lock
.vs/Testing/v15/.suo
.vs/Testing/DesignTimeBuild/.dtbcache
.vs/Testing/v15/Server/sqlite3/storage.ide-wal
.vs/Testing/v15/Server/sqlite3/storage.ide-shm
FooApi/bin/Debug/*
FooApiHost/bin/Debug/*
FooApiHost/obj/*
FooApi/obj/*
FuncionalTests/bin/*
Testing.sln.DotSettings.user
FooApiHost/FooApiHost.csproj.user
